{% for item in items %}
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{item.key}}
    </dt>
    <dd class="govuk-summary-list__value">
      {{item.value}}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
    </dd>
  </div>
  </dl>
{% endfor%}