{% extends "govuk/template.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block head %}
  <link rel="stylesheet" type="text/css"  href="css/govuk-frontend.min.css">
{% endblock %}

{% block header %}

 {%- include "./components/Header.njk" -%}

{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">Team members details {{data}} </h1>

  {%- include "list.njk" with {items : people} -%}
  
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script type="module" src="javascript/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/javascript/govuk-frontend.min.js'
    initAll()
  </script>
{% endblock %}